h1{
    text-align: center;
}
form{
    width: 30%;
    margin-left: 370px;
    border: 1px solid whitesmoke;
    border-radius: 2px ;
    border:1px solid grey;
    padding: 20px;
    border-radius: 20px;
    
}
input[type="text"]{
    width:60%;
}
table{
    width: 30%;
    margin-left: 370px;
}